h1 {
  text-align: center;
}

h1 {
  color: blue;
  margin-left: 20px;
}
p {
  color: black;
  text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}
p.serif {
    font-family: "Times New Roman", Times, serif;
}

p {
  font-size: 25px;
}

<img src="Above_gotham.jpg" alt="building" style="width:40%">
